* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F2AFEF;
}

h1 {
    font-size: 5rem;
    color: #33186B;
    
    padding: 1rem;
}

.board {
    padding: 1rem;
    margin: auto;
    width: 960px;
    height: 960px;
    background-color: #33186B;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    flex: 1 1 auto;
    
    
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex: 1 1 0%;
}

.cell {
    background-color: #C499F3;
    flex: 1 1 0%;
    outline: 1px #33186B solid;
    /* flex: 0 0 auto; */
}

.size-button {
    padding: .5rem;
    margin: 1rem;
    font-size: x-large;
    background-color: #F2AFEF;
    color: #33186B;
}