* {
    margin: 0;
    padding: 0;
  }

.board {
    padding: 2.5px;
    margin: 0;
    background-color: aquamarine;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.row {

}

.cell {
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    flex: 1;
    /* flex: 0 0 auto; */
}